* {
  box-sizing: border-box;
}


h1 {
  margin-top: 0;
  font-size: 22px;
    text-align: center;
    color: white; 
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-size:auto ;
  height: 20px; 
  background-image:url(../v1016-b-08.jpg);
  height: 100vb;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.tabelaMatrix{
  display: flex; 
  flex-wrap: wrap; 
  align-content: stretch; 
  justify-content: space-evenly; 
  color: white;
  justify-content: center;
}

#entradaa{
  background-color: transparent; 
  border: none; 
  border-bottom: 0.125rem solid #59595b
}

.tabelaMatrix2{
  display:flex; 
  text-align: center; 
  background-color: #141519; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
  padding: 20px; 
  width: 600px; 
  height: 540px;
  flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: flex-start;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
    margin-top: 46px
}

.container {
    padding: 0.01em 16px;
    justify-content: center;
    align-items: center;
}

.caixa {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


  .botao {
    --initial-shadow: none; 
    --interaction-shadow: none;
    background-color:  #14bdac; 
    color: #141519;
    border-style: solid;
    border-width: 1px;
    border-color: #14bdac; 
    border-radius: 2px; 
    font-size: larger; 
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 10px; 
    padding-bottom: 10px;
    transition-duration: 0.4s;
  }

  .botao:hover{
        background-color: transparent;
        color: white;
        border-style: solid;
        border-width: 1px;
        border-color: white; 
        border-radius: 2px; 
        font-size: larger; 
  }

 